<?php

return [
    'clientId' => 'your-client-id',
    'clientSecret' => 'your-client-secret',
    'oauth2redirectUrl' => 'https://your-domain/generate-token.php',
    'oauth2scope' => 'service',
    'apiUri' => 'https://cs-try.ssl.com/csc/v0'
];